image: Visual Studio 2013

environment:
  nodejs_version: "7"

install:
  # Get the latest stable version of Node.js or io.js
  - ps: Install-Product node $env:nodejs_version
  - npm install

test_script:
  # Output useful info for debugging.
  - ps: $PSVersionTable
  - node --version
  - npm --version
  # run tests
  - npm test

# Don't actually build.
build: off
