{
  "include": [
    "src/*.ts",
    "src/**/*.ts"
  ],
  "exclude": [
    "typings",
    "node_modules",
    "dist",
    "ext",
    "plugins",
    "perf",
    "src/**/*.d.ts"
  ],
  "extension": [
    ".ts"
  ],
  "require": [
    "ts-node/register"
  ],
  "reporter": [
    "json",
    "html",
    "lcov"
  ],
  "all": true
}